.result {
	width: 390px;
	font-size: 2.5rem;
	line-break: anywhere;
}

body {
	font-size: 10px;
	color: white;
	font-family: "Press Start 2P";
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: rgb(35, 35, 35);
 }

.title {
	font-size: 2rem;
	text-align: center;
}

content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
	justify-content: space-around;
}

.container {
	text-align: center;
}

.logo {
	font-size: 2rem;
	margin-right: auto;
	cursor: pointer;
}

nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 10px 10%;
}

header {
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
}
.icon {
	font-size:2rem;
	border-radius: 10%;
	border: 3px solid;
	width:40px;
	height: 40px;
	text-align: center;
	margin-right: 3px;
	cursor: pointer;
}

.icon:hover {
	background: rgb(60, 60, 60);
}
