
.container {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw;
  gap 10px;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 10px;
  background: #3C2A21;
}

.card .card-title {
  margin: auto;
  font-size: 2rem;
}

.card img {
  object-fit: cover;
  width: 100%;
}

.card .card-description{
  position: absolute;
  bottom: 35px;
  font-size: 0.8rem;
  width: 100%;
  background: #3C2A21;
}

.card:hover {
  box-shadow: 5px 5px #1A120B;
}

.card:hover .card-description {
}
